- @pins.each do |pin|

		
	.col-sm-4
		#myPanel.panel.panel-primary
			#myImg.panel-body 
				=image_tag (pin.image.url.to_s)
			
			/ The Modal
			#myModal.Modal
				/ The Close Button
				%span.close{:onclick => "document.getElementById('myModal').style.display='none'"} x
				

				/ Modal Content (The Image)
				#modal.box.panel.panel-default 
					#modal.col-md-8	
						#modal.imgContainer=link_to (image_tag pin.image.url.to_s), like_pin_path(pin), method: :put, remote: true  #Clicking image: likes the comment. Change to double click
					#modal.col-md-4	
						.infoContainer
							.titleContainer
								%h4.alignLeft
									.avatarContainer
										= image_tag pin.user.avatar.url.to_s
									=link_to (pin.user.Username), user_path(pin.user_id) 
								#modal.alignRight
									-if user_signed_in?	&& current_user != @user 		
										-if current_user.following?(@user)
											=render 'unfollow'
										-else
											=render 'follow'								
						
						#y.panel-body
						#modal.captionContainer
							
							%h4.desc 
								%strong
									.like
										%span{:class => "vcount-#{pin.id}"}= pin.get_upvotes.size
										-if pin.get_upvotes.size == 1
											Like
										-elsif pin.get_upvotes.size > 1
											Likes 
										<br>
									.username
										=link_to (pin.user.Username), user_path(pin.user_id)
								= pin.description
							

							- if pin.comments
								- pin.comments.each do |comment|
									.commentContainer
										%h4.desc
											%strong
												=link_to (comment.user.Username), user_path(comment.user_id)
											= comment.content	
											-# if comment.user == current_user
												-#= link_to pin_comment_path(pin, comment), method: :delete, data: { confirm: "Are you sure?" }			

							.userFeedback{:class => "vote-count bind-#{pin.id}"}
												
								-if user_signed_in?				
									= link_to like_pin_path(pin), method: :put, remote: true, class: "btn btn-default" do
										-if current_user.voted_up_on? pin
											%span.red.glyphicon.glyphicon-heart
										-else	
											%span.black.glyphicon.glyphicon-heart
									#modal.comment-form
										= form_for [pin, pin.user.comments.new] do |f|		
											= f.text_field :content, placeholder: 'Add a comment...' 	
								-else 
									= link_to new_user_registration_path, class: "btn btn-default" do 
										%span.black.glyphicon.glyphicon-heart
														
								
								%span.glyphicon.glyphicon-option-horizontal		


					
					